/* 
    Block all a tags that don't start with # 
    and don't have role="button"
*/
a:not([href^="#"]):not([role="button"]):active {
    pointer-events: none !important;
}

button[type="submit"]:active {
    pointer-events: none !important;
}

/* search on amazon */
input[type="submit"]:active,
input[type="search"] {
    pointer-events: none !important;
}

/* for google the voice icon */
*:not(a):not(button):not(input)[role="button"]:active {
    pointer-events: none !important;
}

/* for google dropdown search */
li:active {
    pointer-events: none !important;
}