/* 
    Block all a tags that don't start with # 
    and don't have role="button" and don't have class "button" or "Button"
*/

a[href]:not([href^="#"]):not([role="button"]):active {
    pointer-events: none !important;
}

a:not([href]):not([role="button"]):not([class*="button"]):not([class*="Button"]):active {
    pointer-events: none !important;
}

button[type="submit"]:active {
    pointer-events: none !important;
}

/* search on amazon */
input[type="submit"]:active,
input[type="search"] {
    pointer-events: none !important;
}

/* for google voice icon and virginia lottery collapsible divs */
div[role="button"]:not([aria-expanded]):active {
    pointer-events: none !important;
}

/* for google dropdown search */
li[role="presentation"]:active {
    pointer-events: none !important;
}