button[type="submit"]:active {
    pointer-events: none !important;
}

/* search on amazon */
/* label[for]:active, */
input[type="submit"]:active,
input[type="search"] {
    pointer-events: none !important;
}

/* select address on amazon */
[data-action]:active {
    pointer-events: none !important;
}

/* for google voice icon and virginia lottery collapsible divs */
div[role="button"]:not([aria-expanded]):not([aria-pressed]):active {
    pointer-events: none !important;
}

/* for google dropdown search */
li[role="presentation"]:active {
    pointer-events: none !important;
}